<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webHost" value="http://colys-oray.eicp.net:25491"/>
    <add key="listenInterval" value="600000"></add>
    <add key="publicCer" value="C:\QuickDisk\MyWork\yiletong\Web2\Content\tomcat.cer"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
