@{
    ViewBag.Title = "福州易乐通信息有限公司-客户信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="body">
   
    <section class="container  clear-fix">
        <div class="row">

            <div class="col-md-12">
                <table class="table table-striped table-hover table-responsive" id="listTable">
	            <thead>
	                <tr>
	                    <th colname="#" hide="1000">#</th>
	                    <th colname="terminal">终端</th>
	                    <th colname="faren">法人</th>
	                    <th colname="shanghuName" hide="1000">商户名称</th>
	                    <th colname="discount">利率</th>
	                    <th colname="tixianfei">提现费</th>
	                    <th colname="IsFengDing">封顶机</th>
	                    <th colname="fengding" >封顶金额</th>
	                    <th colname="sourceAccount" hide="1000">原始账户</th>
	                    <th colname="#action">操作</th>
	                </tr>
	            </thead>
	            <tbody></tbody>
	        </table>
            </div>
            
        </div>


    </section>
</div>



<script>
window.onresize=function(){
	var width = $(window).width();
	 $('table thead th:hidden').show();
	 $('table tbody td:hidden').show();
	var hideThs= $('table thead th').filter(function(index){return $(this).attr("hide") > width;});
	hideThs.each(function(){
		var index = $(this).index();
		$(this).hide();
		$(this).parent().parent().next().find("tr td:eq("+index+")").hide();
	});
}
 $.customers = function (options) {
            var settings = $.extend({ viewOnly: null, reportType: 1, defaultSize: 10, viewMore: 5, personCode: null }, options);
            var entityTable_ops = {
                table: "customers"
                , editCols: [
                    {
                        group: "基础属性", fields: [
                           { display: '终端', colName: "terminal" },
                           { display: '法人', colName: "faren" },
                           { display: '商户名称', colName: "shanghuName" },
                           { display: '联系电话', colName: "tel" },
                           { display: '扣率', colName: "discount" },
                           { display: '提现费', colName: "tixianfei" },
                           { display: '封顶机', colName: "IsFengDing" },
                           { display: '封顶金额', colName: "fengding" },
                           { display: '节假日', colName: "tixianfeiEles" },
                           { display: '总行', colName: "bankName" },
                           { display: '分行', colName: "bankName2" },
                           { display: '支行', colName: "bankName3" },
                           { display: '银行账号', colName: "bankAccount" },
                           { display: '省份', colName: "province" },
                           { display: '城市', colName: "city" },
                           { display: '原始账户', colName: "sourceAccount" }
                        ]
                    }]
                , defaults: { status: 1 }
                , markDelete: true
                , markColName: "status"
            };
            var entityTable = $("#listTable").entityTable(entityTable_ops);
            entityTable.Query(null, null, true);


            $("#addnew").click(function () {
                entityTable.ShowCreateDialog();
            })

            return this;
        }

        $.customers();
</script>

