@{
    ViewBag.Title = "交易查询";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="body">
    <section class="featured container">

        <div class="content-wrapper">
            <hgroup class="title">
                <h1>福州易乐通信息有限公司</h1>
                <h2>支付监控平台</h2>
            </hgroup>

        </div>
    </section>
    <section class="container main-content clear-fix" >
        <h3>What Can I Do For You:</h3>
        <ol class="round">
            <li class="one">
                <h5>Pos机申请</h5>
                <p>最为便捷的pos机申请方式，你只需要一个电话，我们为您一站式服务，快递到您家！</p>

            </li>

            <li class="two">
                <h5>进度查询</h5>
                <p>方便的查询方式，还有物流信息哦！</p>
            </li>
            <li class="three">
                <h5>我的T+0</h5>
                <p>最新的T+0业务，满足您所有合理和不合理的要求，要多快到账，您说了算！</p>
            </li>
        </ol>
    </section>
</div>
