@{
    ViewBag.Title = "福州易乐通信息有限公司-客户信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="body">

    <section class="container  clear-fix">
        <p>
            <a id="addnew" href="#">添加</a>
        <p>
          

                <div class="table-responsive">
                    <table class="table table-striped table-hover table-responsive" id="listTable">
                        <thead>
                            <tr>
                                <th colname="#" >#</th>
                                <th colname="faren" inlist=".title">姓名</th>
                                <th colname="tel" >联系电话</th>
                                <th colname="bankName" inlist=".subtitle">银行名称</th>
                                <th colname="bankAccount" inlist=".subtitle">银行账号</th>                                
                                <th colname="#action">操作</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

           


    </section>
</div>



<script>


    var entityTable_ops = {
        table: "SourceAccount",
        permission: "SourceAccounts",
        orderby: 'faren',
        editCols: [
            {
                group: "基础属性", fields: [                    
                    { display: '姓名', colName: "faren" },                    
                    { display: '联系电话', colName: "tel" },
                    { display: '银行名称', colName: "bankName", placeholder:"银行名称，比如：中国民生银行" },
                    { display: '银行账号', colName: "bankAccount" }
                    
                ]
            }]
    };
    var entityTable = $("#listTable").entityTable(entityTable_ops);
    entityTable.Query(null, null, true);


    $("#addnew").click(function () {
        entityTable.ShowCreateDialog();
    })


</script>
